<%= form_for(@menu_item) do |f| %>
  <% if @menu_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu_item.errors.count, "error") %> prohibited this menu_item from being saved:</h2>

      <ul>
      <% @menu_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <b>Description</b><br />
    <%= f.text_field :descr %>
  </div>
  <div>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <b>Price</b><br />
    <%= f.text_field :price %>
  </div>
  <div>
    <b>Menu Item Type</b><br />
    <%= f.text_field :m_type %>
  </div>
  <div>
    <b>Meal</b><br />
    <%= f.text_field :meal %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>

