<div style="width: 500px; margin: auto;">
<h3>List of Menu Items</h3>
<%= flash[:notice] if flash[:notice] %>

<%= link_to 'New Menu item', new_menu_item_path %>
<table style="width:500px" border="1">
  <% @menu_item.each_with_index do |menu_item, i| %>
      <tr>
        <td style="width:400px"><b><%= menu_item.name %></b><br>
          <%= menu_item.descr %><br>
          <%= link_to 'Show', menu_item %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Edit', edit_menu_item_path(menu_item)%>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td style="width:100px"><%= number_to_currency(menu_item.price) %></td>
      </tr>
  <% end %>
</table>
</div>
