<div style="width: 500px; margin: auto;">
<p id="notice"><%= notice %></p>

<p>
  <b>Desc:</b>
  <%= @menu_item.descr %>
</p>

<p>
  <b>Name:</b>
  <%= @menu_item.name %>
</p>

<p>
  <b>Price:</b>
  <%= @menu_item.price %>
</p>

<p>
  <b>M type:</b>
  <%= @menu_item.m_type %>
</p>

<p>
  <b>Meal:</b>
  <%= @menu_item.meal %>
</p>


<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
</div>
