<%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% @order.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <br>
    <div><b>Order ID:</b>&nbsp;<%= @order.order_id %></div>
    <div><b>Name:</b>&nbsp;<br />
      <%= f.text_field :name %>
    </div>
    <div><b>Address:</b>&nbsp;<br />
      <%= f.text_field :address %>
    </div>
    <div><b>Email:</b>&nbsp;<br />
      <%= f.text_field :email %>
    </div>
    <% if !@user.nil? and @user.role.to_s.eql?("admin") %>
        <div><b>Status:</b><br />
          <%= f.select :status, [ ' ', 'Called In', 'In Process', 'Completed' ] %>
        </div>
    <% end %>
    <%= f.hidden_field :order_id, :value => @order.order_id %><br>
    <%= f.submit "Complete Your Order" %>
<% end %>
