<br><br>
<table border="1" style="width:350px; background-color: white" cellpadding="6px" >
  <% if @order.nil? %>
      <% if !@mi_li.nil? %>
          <% if @mi_li.count > 0 %>
              <tr><td colspan="2">&nbsp;<%= link_to 'Complete Your Order',{:controller => "orders", :action => "new", :id => session[:order_id]} %></td></tr>
          <% end %>
      <% end %>
  <% else %>
      <% if !session[:order_id].nil? or !@order.blank? %>
          <tr><td colspan="2"><h4>Order Details</h4></td></tr>
          <tr>
            <td><b>Order ID:</b></td>
            <td><%= @order.order_id %></td>
          </tr>

          <tr>
            <td><b>Name:</b></td>
            <td><%= @order.name %></td>
          </tr>

          <tr>
            <td><b>Address:</b></td>
            <td><%= @order.address %></td>
          </tr>

          <tr>
            <td><b>Email:</b></td>
            <td><%= @order.email %></td>
          </tr>

          <tr>
            <td><b>Status:</b></td>
            <td><%= @order.status %></td>
          </tr>
          <% if @order.status.blank? %>
              <tr>
                <td colspan="2"><%= link_to "Edit Order Info", edit_order_path(@order) %></td>
              </tr>
              <tr>
                <td colspan="2"><%= link_to "Submit Order", submit_order_path(@order) %></td>
              </tr>
          <% end %>
      <% end %>
  <% end %>
</table>