<div style="width: 900px; margin: auto;">
<table border="1" cellpadding=6px>
  <tr>
    <th>Order ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Status</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

  <% @orders.each do |order| %>
      <% myorder = order.order_id %>
      <tr>
        <td><%= order.order_id %></td>
        <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'View/Edit', "/line_items/index/#{myorder}" %></td>
        <td><%= link_to 'Remove', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
  <% end %>
</table>
</div>
