<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Thank you for your order, <%= @order.email %></h1>
<p>
  You have successfully submitted it to our system,
  your username is your email address.<br/>
  Your order number is: <%= @order.order_id %>.<br/>
</p>
<p>
  You can modify your order as long as its not in process.
  To view or modify your order visit <%= link_to "view order", "/line_items/index/#{@order.order_id}" %>
</p>
<p>Have a great day!</p>
</body>
</html>