<%= params[:m_type] %>
<%= form_for(@line_item) do |f| %>
  <% if @line_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@line_item.errors.count, "error") %> prohibited this line_item from being saved:</h2>

      <ul>
      <% @line_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <br>
    <div><b>Item:&nbsp;</b><%= @menu_item.name %></div><br>

    <div><b>Desc:&nbsp;</b><%= @menu_item.descr %></div><br>

    <div><b>Price:&nbsp;</b><%= number_to_currency @menu_item.price %></div><br>
    <div><b>Order ID:&nbsp;</b><%= session[:order_id] %></div><br>
    <div><b>Special Instructions:&nbsp;</b><br />
    <%= f.text_area :spec_inst, :cols => 30, :rows => 5 %></div>
    <%= f.hidden_field :order_id, :value => session[:order_id] %><br>
    <%= f.hidden_field :menu_item_id, :value => @menu_item.id %>
    <%= f.submit "Add to Order" %>
<% end %>