<% @status = "no current order" if session[:order_id].nil? %>
<% if !@mi_li.blank? %>
    <table style="vertical-align: top; width: 350px; background-color: white" cellpadding="6px" border="1">
    <tr><td colspan="4"><h4>Items on your order:&nbsp;&nbsp;<%=current_order %></h4></td></tr>
<% end %>

<% @mytotal = 0 %>
<% if !@mi_li.blank? %>
    <% @mi_li.each_with_index do |mi_li, i| %>
        <% @mi_li[i].line_items.each do |li | %>
            <% @mytotal += mi_li.price %>
            <tr>
              <td> <%= mi_li.name %></td>
              <td><span style="float: right"> <%= number_to_currency(mi_li.price) %></span></td>
              <% if params[:controller].eql?("line_items") and @status.blank? %>
                  <td> <%= link_to 'Update', edit_line_item_path(li) %></td>
                  <td> <%= link_to 'Remove', li, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <!--< else %>-->
                  <!--<td>&nbsp;</td>-->
                  <!--<td>&nbsp;</td>-->
              <% end %>
        <% end %>
    <% end %><br><br></tr>
    <tr><td><b>Sub Total:</b></td>
      <td><span style="float: right"><%= number_to_currency(@mytotal) %></span></td></tr>
    <tr><td><b>Tax:</b></td>
      <td><span style="float: right"><%= number_to_currency(@mytotal * 0.0825) %></span></td></tr>
    <tr><td>&nbsp;</td><td><hr></td></tr>
    <tr><td><b>Total (w/tax):</b></td>
      <td><span style="float: right"><%= number_to_currency(@mytotal * 1.0825) %></span></td></tr>

<% end %>
</table>