  <div class="span8">
    <% if !@menu_item.nil? %>
        <% @menu_item.each_with_index do |menu_item, i| %>
            <% if i%2 == 0
                  @bg = "background-color: lightgray;"
               else
                  @bg = "background-color: lavenderblush"
               end
            %>
            <div style="height: 65px;<%= @bg %>">
              <div style="margin-left: 10px; margin-right:10px">
              <span style="margin-top: 35px;"><b><%= link_to menu_item.name, new_line_item_path(:id => menu_item.id, :m_type => params[:m_type]) if @status.nil?%></b></span><span style="float: right"> <b><%= number_to_currency menu_item.price%></b></span><br>
              <%= menu_item.descr %>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
  <% if session[:order_id].nil? and @order.blank? %>
    <div class="span=3" style="vertical-align: top;">
  <% else %>
    <div class="span=3" style="border-style: solid; vertical-align: top; background-color: gray">
  <% end %>
        <%= render 'your_order'        %>
        <%= render 'orders/your_order' %>
    </div>



