<%= form_for(@menu_item) do |f| %>
    <% if @menu_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@menu_item.errors.count, "error") %> prohibited this menu_item from being saved:</h2>

          <ul>
            <% @menu_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :descr %><br />
      <%= f.text_area :descr %>
    </div>
    <div class="field">
      <%= f.label :price %><br />
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :m_type, "Type" %><br />
      <%= f.select :m_type, options_for_select([
                                                       ["Appetizers","Appetizers"],
                                                       ["Bagels","Bagels"],
                                                       ["Beverages","Beverages"],
                                                       ["Burgers","Burgers"],
                                                       ["Deserts","Deserts"],
                                                       ["Eggs","Eggs"],
                                                       ["Entrees", "Entrees"],
                                                       ["Fountain Sodas", "Fountain Sodas"],
                                                       ["Greek","Greek"],
                                                       ["Salads","Salads"],
                                                       ["Sandwiches","Sandwiches"],
                                                       ["Sides", "Sides"],
                                                       ["Smoothies and Juices","Smoothies and Juices"],
                                                       ["Pasta","Pasta"]
                                               ], @menu_item.m_type), :prompt => "Select a Type" %>
    </div>
    <div class="field">
      <%= f.label :meal %><br />
      <%= f.select :meal, options_for_select([["Breakfast", "Breakfast"],["Lunch", "Lunch"],["Dinner","Dinner"]], @menu_item.meal), :prompt => "Select a Meal" %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
